/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 2, 2021, 2:20:51 PM
    Author     : jonat
*/

.vertical-center {
    min-height: 100%;
    min-height: 100vh; 
    display: flex;
    align-items: center;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.noAccessCard{
    font-family: 'Roboto';
    font-size : 24px;
}
