<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>urlDB</param-name>
        <!-- param-value>jdbc:mysql://127.0.0.1/projects_management?serverTimezone=UTC</param-value> -->
        <param-value>jdbc:mysql://jonesdb.me/projects_management?serverTimezone=UTC</param-value>
    </context-param>
    <context-param>
        <param-name>pilote</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>userDB</param-name>
        <param-value>bdeb</param-value>
    </context-param>
    <context-param>
        <param-name>passDB</param-name>
        <param-value>bdeb</param-value>
    </context-param>
    <filter>
        <filter-name>RedirectionFilter</filter-name>
        <filter-class>ca.hajofa.filters.RedirectionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ValidationCourrielUnique</filter-name>
        <filter-class>ca.hajofa.filters.ValidationCourrielUnique</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RedirectionFilter</filter-name>
        <url-pattern>/ControleurRedirection</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValidationCourrielUnique</filter-name>
        <url-pattern>/ControleurInscription</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>ca.hajofa.listeners.ApplicationListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ControleurLangue</servlet-name>
        <servlet-class>ca.hajofa.servlets.ControleurLangue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurConnexion</servlet-name>
        <servlet-class>ca.hajofa.servlets.ControleurConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurInscription</servlet-name>
        <servlet-class>ca.hajofa.servlets.ControleurInscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectionProjets</servlet-name>
        <servlet-class>ca.hajofa.servlets.RedirectionProjets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurRedirection</servlet-name>
        <servlet-class>ca.hajofa.servlets.ControleurRedirection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectionEquipes</servlet-name>
        <servlet-class>ca.hajofa.servlets.RedirectionEquipes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectionAccueil</servlet-name>
        <servlet-class>ca.hajofa.servlets.RedirectionAccueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurEquipes</servlet-name>
        <servlet-class>ca.hajofa.servlets.ControleurEquipes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurAjoutEtudiant</servlet-name>
        <servlet-class>ca.hajofa.servlets.ControleurAjoutEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurCreationEquipe</servlet-name>
        <servlet-class>ca.hajofa.servlets.ControleurCreationEquipe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurDeconnexion</servlet-name>
        <servlet-class>ca.hajofa.servlets.ControleurDeconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectionConnexion</servlet-name>
        <servlet-class>ca.hajofa.servlets.RedirectionConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectionInscription</servlet-name>
        <servlet-class>ca.hajofa.servlets.RedirectionInscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Welcomer</servlet-name>
        <servlet-class>ca.hajofa.servlets.Welcomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurProjets</servlet-name>
        <servlet-class>ca.hajofa.servlets.ControleurProjets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreationCours</servlet-name>
        <servlet-class>ca.hajofa.servlets.CreationCours</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurEtudiant</servlet-name>
        <servlet-class>ca.hajofa.servlets.ControleurEtudiant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleurLangue</servlet-name>
        <url-pattern>/ControleurLangue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurConnexion</servlet-name>
        <url-pattern>/ControleurConnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurInscription</servlet-name>
        <url-pattern>/ControleurInscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectionProjets</servlet-name>
        <url-pattern>/RedirectionProjets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurRedirection</servlet-name>
        <url-pattern>/ControleurRedirection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectionEquipes</servlet-name>
        <url-pattern>/RedirectionEquipes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectionAccueil</servlet-name>
        <url-pattern>/RedirectionAccueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurDeconnexion</servlet-name>
        <url-pattern>/ControleurDeconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectionConnexion</servlet-name>
        <url-pattern>/RedirectionConnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectionInscription</servlet-name>
        <url-pattern>/RedirectionInscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurEquipes</servlet-name>
        <url-pattern>/ControleurEquipes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurAjoutEtudiant</servlet-name>
        <url-pattern>/ControleurAjoutEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurCreationEquipe</servlet-name>
        <url-pattern>/ControleurCreationEquipe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreationCours</servlet-name>
        <url-pattern>/CreationCours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurEtudiant</servlet-name>
        <url-pattern>/ControleurEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Welcomer</servlet-name>
        <url-pattern>/Welcomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurProjets</servlet-name>
        <url-pattern>/ControleurProjets</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Welcomer</welcome-file>
    </welcome-file-list>
</web-app>
